<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GrazrTestSuite">
	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	<test name="GrazrTest">
		<classes>
			<class name="TestCases.Login"></class>
			<class name="TestCases.HomeTestCase"></class>
			<class name="TestCases.signupTestcase"></class>
			<class name="TestCases.Auction_testcases"></class>
			<class name="TestCases.ProdPage_test"></class>
		</classes>
	</test>
</suite>